<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<article>
		<div class="shop-page-product-area tab-content" th:fragment="productList">
			<div id="grid" class="tab-pane fade in show active">
				<div class="row">
					<!-- START -->
					<div class="col-sm-6 col-md-4 col-xl-3" th:each="p : ${page.content}">
						<div class="single-product-area">
							<div class="product-wrapper gridview">
								<div class="list-col4">
									<div class="product-image">
										<a th:href="@{|/product/${p.productId}|}">
											<th:block th:if="${p.productDiscount != null && (p.productEndDiscount.compareTo(timeNow) == 1 || p.productEndDiscount.compareTo(timeNow) == 0) }">
												<span class="isSale">Sale!</span>
											</th:block>
											<img th:src="@{|/upload/ProductImages/${p.productFirstImage}|}" th:classappend="${p.productQuantity <= 0} ? backgroundGrey : ' '" style="width: 350px; height: 350px" alt="">
										</a>
										<div class="quickviewbtn">
											<!-- <a th:href="@{|/product/${p.productId}|}" data-toggle="modal" data-target="#product_modal" data-original-title="Quick View"> -->
											<a th:href="@{|/product/${p.productId}|}" data-original-title="Quick View">
												<i class="ion-eye"></i>
											</a>
										</div>
									</div>
								</div>
								<div class="list-col8">
									<div class="product-info">
										<h2>
											<a th:href="@{|/product/${p.productId}|}">[[${p.productName}]]</a>
										</h2>
										<span class="price">
											<th:block th:if="${p.productDiscount == null || p.productDiscount == 0 || p.productEndDiscount == null ? true : p.productEndDiscount.compareTo(timeNow) == -1}">
												$ [[${#numbers.formatDecimal(p.productPrice, 0, 'COMMA', 2, 'POINT')}]]
											</th:block>
											<th:block th:if="${p.productDiscount != null && (p.productEndDiscount == null ? true : (p.productEndDiscount.compareTo(timeNow) == 1 || p.productEndDiscount.compareTo(timeNow) == 0) ) }">
												<del>$ [[${p.productPrice}]]</del>
												<!-- <span th:text="${p.productPrice - (p.productPrice * p.productDiscount / 100)}"> </span>-->
												<span> $ [[${#numbers.formatDecimal(p.productPrice - (p.productPrice * p.productDiscount / 100), 0, 'COMMA', 2, 'POINT')}]] </span>
											</th:block>
										</span>
									</div>
									<div class="product-hidden">
										<div class="add-to-cart" th:if="${p.productQuantity > 0}">
											<a class="btn" th:attr="ng-click=@{|cart.add(${p.productId})|}">Add to cart</a>
										</div>
										<div class="add-to-cart" th:if="${p.productQuantity <= 0}">
											<a class="btn btn-secondary" th:attr="ng-click=@{|cart.outOfStock()|}">Out of stock</a>
										</div>
										<div class="star-actions">
											<div class="product-rattings">
												<th:block th:if="${p.productEvaluation == 5}">
													<span>
														<i class="fa fa-star"></i>
													</span>
													<span>
														<i class="fa fa-star"></i>
													</span>
													<span>
														<i class="fa fa-star"></i>
													</span>
													<span>
														<i class="fa fa-star"></i>
													</span>
													<span>
														<i class="fa fa-star"></i>
													</span>
												</th:block>
												<th:block th:if="${p.productEvaluation == 4}">
													<span>
														<i class="fa fa-star"></i>
													</span>
													<span>
														<i class="fa fa-star"></i>
													</span>
													<span>
														<i class="fa fa-star"></i>
													</span>
													<span>
														<i class="fa fa-star"></i>
													</span>
												</th:block>
												<th:block th:if="${p.productEvaluation == 3}">
													<span>
														<i class="fa fa-star"></i>
													</span>
													<span>
														<i class="fa fa-star"></i>
													</span>
													<span>
														<i class="fa fa-star"></i>
													</span>
												</th:block>
												<th:block th:if="${p.productEvaluation == 2}">
													<span>
														<i class="fa fa-star"></i>
													</span>
													<span>
														<i class="fa fa-star"></i>
													</span>
												</th:block>
												<th:block th:if="${p.productEvaluation == 1}">
													<span>
														<i class="fa fa-star"></i>
													</span>
												</th:block>
												<th:block th:if="${p.productEvaluation == null}">

												</th:block>
											</div>
											<ul class="actions">
												<li>
													<a href="">
														<i class="ion-android-favorite-outline"></i>
													</a>
												</li>
												<li>
													<a href="">
														<i class="ion-ios-shuffle-strong"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END -->
				</div>
			</div>
			<div id="list" class="tab-pane fade">
				<div class="row">
					<div class="col-sm-12" th:each="p : ${page.content}">
						<div class="single-product-area">
							<div class="product-wrapper listview">
								<div class="list-col4">
									<div class="product-image">
										<a th:href="@{|/product/${p.productId}|}">
											<span class="onsale">Sale!</span>
											<img th:src="@{|/upload/ProductImages/${p.productFirstImage}|}" th:classappend="${p.productQuantity <= 0} ? backgroundGrey : ' '" style="width: 350px; height: 350px" alt="">
										</a>
										<div class="quickviewbtn">
											<!-- <a href="#" data-toggle="modal" data-target="#product_modal" data-original-title="Quick View"> -->
											<a th:href="@{|/product/${p.productId}|}" data-original-title="Quick View">
												<i class="ion-eye"></i>
											</a>
										</div>
									</div>
								</div>
								<div class="list-col8">
									<div class="product-info">
										<h2>
											<a th:href="@{|/product/${p.productId}|}">[[${p.productName}]]</a>
										</h2>
										<span class="price">
											<!-- <th:block th:if="${p.productDiscount == null || p.productEndDiscount >= GETDATE}">
												$ [[${p.productPrice}]]
											</th:block>
											<th:block th:if="${p.productDiscount != null && p.productEndDiscount < GETDATE }">
												<del>$ [[${p.productPrice}]]</del>
											$ <span th:text="${p.productPrice - (p.productPrice * p.productDiscount / 100)}"></span>
											</th:block> -->
											<th:block th:if="${p.productDiscount == null || p.productDiscount == 0 || p.productEndDiscount == null ? true : p.productEndDiscount.compareTo(timeNow) == -1}">
												$ [[${#numbers.formatDecimal(p.productPrice, 0, 'COMMA', 2, 'POINT')}]]
											</th:block>
											<th:block th:if="${p.productDiscount != null && (p.productEndDiscount == null ? true : (p.productEndDiscount.compareTo(timeNow) == 1 || p.productEndDiscount.compareTo(timeNow) == 0) ) }">
												<del>$ [[${p.productPrice}]]</del>
												<!-- <span th:text="${p.productPrice - (p.productPrice * p.productDiscount / 100)}"> </span>-->
												<span> $ [[${#numbers.formatDecimal(p.productPrice - (p.productPrice * p.productDiscount / 100), 0, 'COMMA', 2, 'POINT')}]] </span>
											</th:block>
										</span>
										<div class="product-rattings">
											<th:block th:if="${p.productEvaluation == 5}">
												<span>
													<i class="fa fa-star"></i>
												</span>
												<span>
													<i class="fa fa-star"></i>
												</span>
												<span>
													<i class="fa fa-star"></i>
												</span>
												<span>
													<i class="fa fa-star"></i>
												</span>
												<span>
													<i class="fa fa-star"></i>
												</span>
											</th:block>
											<th:block th:if="${p.productEvaluation == 4}">
												<span>
													<i class="fa fa-star"></i>
												</span>
												<span>
													<i class="fa fa-star"></i>
												</span>
												<span>
													<i class="fa fa-star"></i>
												</span>
												<span>
													<i class="fa fa-star"></i>
												</span>
											</th:block>
											<th:block th:if="${p.productEvaluation == 3}">
												<span>
													<i class="fa fa-star"></i>
												</span>
												<span>
													<i class="fa fa-star"></i>
												</span>
												<span>
													<i class="fa fa-star"></i>
												</span>
											</th:block>
											<th:block th:if="${p.productEvaluation == 2}">
												<span>
													<i class="fa fa-star"></i>
												</span>
												<span>
													<i class="fa fa-star"></i>
												</span>
											</th:block>
											<th:block th:if="${p.productEvaluation == 1}">
												<span>
													<i class="fa fa-star"></i>
												</span>
											</th:block>
											<th:block th:if="${p.productEvaluation == null}">

											</th:block>
										</div>
										<div class="product-desc">
											<p>[[${p.productDetail}]]</p>
										</div>
									</div>
									<div class="actions-wrapper">
										<div class="add-to-cart" th:if="${p.productQuantity > 0}">
											<a class="btn" th:attr="ng-click=@{|cart.add(${p.productId})|}">Add to cart</a>
										</div>
										<div class="add-to-cart" th:if="${p.productQuantity <= 0}">
											<a class="btn btn-secondary" th:attr="ng-click=@{|cart.outOfStock()|}">Out of stock</a>
										</div>
										<!-- <div class="add-to-cart" th:if="${p.productQuantity > 0}">
											<a th:attr="ng-click=@{|cart.add(${p.productId})|}">Add to cart</a>
										</div> -->
										<div class="add-to-cart" th:if="${p.productQuantity <= 0}">
											<p>Out of stock</p>
										</div>
										<div class="star-actions">
											<ul class="actions">
												<li>
													<a th:attr="ng-click=@{|addToWishList(*{productId})|}">
														<i class="ion-android-favorite-outline"></i>
														Add to Wishlist
													</a>
												</li>
												<li>
													<a href="">
														<i class="ion-ios-shuffle-strong"></i>
														Compare
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</article>
</body>
</html>