<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<article>
		<div class="shop-page-product-area tab-content" th:fragment="productList">
			<div id="grid" class="tab-pane fade in show active">
				<div class="row">
					<!-- START -->
					<div class="col-sm-6 col-md-4 col-xl-3" th:each="p : ${mapProducts}">
						<div class="single-product-area">
							<div class="product-wrapper gridview">
								<div class="list-col4">
									<div class="product-image">
										<a href="">
											<img th:src="@{|/upload/ProductImages/${p.key}|}" style="width: 350px; height: 350px" alt="">
										</a>
										<div class="quickviewbtn">
											<a href="#" data-toggle="modal" data-target="#product_modal" data-original-title="Quick View">
												<i class="ion-eye"></i>
											</a>
										</div>
									</div>
								</div>
								<div class="list-col8">
									<div class="product-info">
										<h2>
											<a href="#">[[${p.value.name}]]</a>
										</h2>
										<span class="price">
											<del>[[${p.value.price}]]</del>
											$ 75.00
										</span>
									</div>
									<div class="product-hidden">
										<div class="add-to-cart">
											<a href="cart.html">Add to cart</a>
										</div>
										<div class="star-actions">
											<div class="product-rattings">
												<span>
													<i class="fa fa-star"></i>
												</span>
												<span>
													<i class="fa fa-star"></i>
												</span>
												<span>
													<i class="fa fa-star"></i>
												</span>
												<span>
													<i class="fa fa-star-half-o"></i>
												</span>
												<span>
													<i class="fa fa-star-o"></i>
												</span>
											</div>
											<ul class="actions">
												<li>
													<a href="">
														<i class="ion-android-favorite-outline"></i>
													</a>
												</li>
												<li>
													<a href="">
														<i class="ion-ios-shuffle-strong"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END -->
				</div>
			</div>
			<div id="list" class="tab-pane fade">
				<div class="row">
					<div class="col-sm-12" th:each="p : ${mapProducts}">
						<div class="single-product-area">
							<div class="product-wrapper listview">
								<div class="list-col4">
									<div class="product-image">
										<a href="">
											<span class="onsale">Sale!</span>
											<img th:src="@{|/upload/ProductImages/${p.key}|}" alt="">
										</a>
										<div class="quickviewbtn">
											<a href="#" data-toggle="modal" data-target="#product_modal" data-original-title="Quick View">
												<i class="ion-eye"></i>
											</a>
										</div>
									</div>
								</div>
								<div class="list-col8">
									<div class="product-info">
										<h2>
											<a href="single-product.html">[[${p.value.name}]]</a>
										</h2>
										<span class="price">
											<del>[[${p.value.price}]]</del>
											$ 66.00
										</span>
										<div class="product-rattings">
											<span>
												<i class="fa fa-star"></i>
											</span>
											<span>
												<i class="fa fa-star"></i>
											</span>
											<span>
												<i class="fa fa-star"></i>
											</span>
											<span>
												<i class="fa fa-star-half-o"></i>
											</span>
											<span>
												<i class="fa fa-star-o"></i>
											</span>
										</div>
										<div class="product-desc">
											<p>
												[[${p.value.detail}]]
											</p>
										</div>
									</div>
									<div class="actions-wrapper">
										<div class="add-to-cart">
											<a href="cart.html">Add to cart</a>
										</div>
										<div class="star-actions">
											<ul class="actions">
												<li>
													<a href="">
														<i class="ion-android-favorite-outline"></i>
														Add to Wishlist
													</a>
												</li>
												<li>
													<a href="">
														<i class="ion-ios-shuffle-strong"></i>
														Compare
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</article>
</body>
</html>