<div xmlns:th="http://www.thymeleaf.org">
<button id="bestSellerMale" ng-click="exportBestSellerMale();" class="btn btn-success">Export Report To Excel</button>
<button id="bestSellerMale" ng-click="exportPdfBestSellerMale();" class="btn btn-success">Export Report To Pdf</button>
Start<input ng-change="disabled5MaleFlagToggle();" placeholder="Select date" type="date" id="startDate5Male" ng-model="startDate">
End<input ng-change="disabled5MaleFlagToggle();" placeholder="Select date" type="date" id="endDate5Male" ng-model="endDate">
<button class="btn btn-success" id="submit" ng-click="best5Male();" ng-disabled="disabled5MaleFlag">Submit</button>
<button class="btn btn-success" id="submit" ng-click="clear5Male();">Clear</button>
	<table id="bestSellerMaleTable" class="table table-hover table-bordered mt-2">
		<thead class="thead-dark">
			<tr class="text-center">
				<th scope="col">Image</th>
				<th scope="col">
					<a class="text-warning font-weight-bold" href="" ng-click="sortByCategoryName('productName')">Product's Name</a>
				</th>
				<th scope="col">
					<a class="text-warning font-weight-bold" href="" ng-click="sortByCategoryName('quantityleft')">Product's Stock</a>
				</th>
				<th scope="col">
					<a id="sort" class="text-warning font-weight-bold" href="" ng-click="sortByCategoryName('quantity')">Total Product Sold</a>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr style="height: 50px;" class="text-center" ng-repeat="item in bestSellerNamPager.items | orderBy:sortType | filter:searchName">
				<td style="width: 300px;font-size: 30px;border: 2px solid lightblue;">
					<img ng-src="/upload/ProductImages/{{item.imageId}}" alt="" style="width: 80px; height: 80px"/>
				</td>
				<td style="width: 200px;font-size: 30px;border: 2px solid lightblue;">{{item.productName}}</td>
				<td style="width: 400px;font-size: 30px;border: 2px solid lightblue;">{{item.quantityleft}}</td>
				<td style="width: 400px;font-size: 30px;border: 2px solid lightblue;">{{item.quantity}}</td>
			</tr>
		</tbody>
	</table>
	
</div>