<div xmlns:th="http://www.thymeleaf.org">
	<div class="row">
		<div class="col-2">
			<input ng-change="disabledFlagToggle();" placeholder="Select date" type="date" id="startDateProducts"
				ng-model="startDate" class="form-control">
		</div>
		<div class="col-2">
			<input ng-change="disabledFlagToggle();" ng-click="disabledFlagToggle();" placeholder="Select date"
				type="date" id="endDateProducts" ng-model="endDate"  class="form-control">
		</div>
		<div class="col-2">
			<button class="btn btn-success" id="submit" ng-click="historyByTime();"
				ng-disabled="disabledFlag">Submit</button>
				<button class="btn btn-success" id="submit" ng-click="clear();">Clear</button>
		</div>
		<div class="col-4"></div>
		<div class="col-1">
			<!-- <button id="products" ng-click="exportProducts();" class="btn btn-success">Excel</button> -->
			<a href="/export/products" class="btn btn-success">Excel</a>
		</div>
		<div class="col-1">
			<button id="products2" ng-click="exportPdfProducts();" class="btn btn-success">PDF</button>
		</div>
	</div>
	<form class="mt-2 mb-2">
		<input type="text" class="form-control" placeholder="Search by name" ng-model="kwords"
			ng-change="findByNameDto(kwords)">
	</form>
	<table id="TableToExport" class="table table-hover table-bordered mt-2">
		<thead class="thead-dark">
			<tr class="text-center">
				<th scope="col" class="text-danger font-weight-bold" style="font-size:18px">Image</th>
				<th scope="col">
					<a class="text-danger font-weight-bold" href=""
						ng-click="sortByCategoryName('productName')" style="font-size:18px">Product's name</a>
				</th>
				<th scope="col">
					<a class="text-danger font-weight-bold" href=""
						ng-click="sortByCategoryName('quantityleft')" style="font-size:18px">Product's quantity left</a>
				</th>
				<th scope="col">
					<a class="text-danger font-weight-bold" href="" style="font-size:18px" ng-click="sortByCategoryName('quantity')">Total
						number of products sold</a>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text-center"
				ng-repeat="item in pager.items | orderBy:sortType | filter:searchName" ng-click="edit(item)">
				<td style="width: 150px;border: 1px solid lightblue;">
					<img ng-src="/upload/ProductImages/{{item.imageId}}" alt="" style="width: 120px; height: 100px"
						ng-click="detail(item.productId)" />
				</td>
				<td style="width: 300px;font-size:18px;border: 1px solid lightblue;" ng-click="detail(item.productId)">
					{{item.productName}}</td>
				<td style="width: 50px;font-size:18px;border: 1px solid lightblue;">{{item.quantityleft}}</td>
				<td style="width: 50px;font-size:18px;border: 1px solid lightblue;">{{item.quantity}}</td>
			</tr>
		</tbody>
	</table>

	<div class="mt-2">
		<div class="text-center">
			<button ng-click="pager.first()" class="btn btn-secondary">FIRST</button>
					<button ng-click="pager.pre()" class="btn btn-secondary">PREV</button>
							<button class="btn btn-success">{{pager.page + 1}} of {{pager.count}}</button>
							<button ng-click="pager.next()" class="btn btn-secondary">NEXT</button>
							<button ng-click="pager.last()" class="btn btn-secondary">LAST</button>
		</div>
	</div>


	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true" style="padding-top: 200px;">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">

					<div>
						<canvas id="myChart"></canvas>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
