<div xmlns:th="http://www.thymeleaf.org">
<button id="statistic" ng-click="exportStatistic();" class="btn btn-success">Export Report To Excel</button>
Start<input ng-change="disabledStatFlagToggle();" placeholder="Select date" type="date" id="startDateStat" ng-model="startDate">
End<input ng-change="disabledStatFlagToggle();" placeholder="Select date" type="date" id="endDateStat" ng-model="endDate">
<button class="btn btn-success" id="submit" ng-click="showStat();" ng-disabled="disabledStatFlag">Submit</button>
<button class="btn btn-success" id="submit" ng-click="clearStat();">Clear</button>
	 <div style="position: absolute; height: 800px; width: 800px;"><canvas id="buyStatByUser"></canvas></div>
	 <div style="position: absolute; right: 200px; height: 800px; width: 800px;"><canvas id="orderStatusStatistic"></canvas></div>
</div>