<div xmlns:th="http://www.thymeleaf.org">
<div class="row">
	<div class="col-2"><input ng-change="disabledUserFlagToggle();" placeholder="Select date" type="date" id="startDateUsers" class="form-control" ng-model="startDate"></div>
	<div class="col-2"><input ng-change="disabledUserFlagToggle();" placeholder="Select date" type="date" id="endDateUsers" class="form-control" ng-model="endDate"></div>
	<div class="col-2">
		<button class="btn btn-success" id="submit" ng-click="historyByTimeUser();" ng-disabled="disabledUserFlag">Submit</button>
		<button class="btn btn-success" id="submit" ng-click="clearUser();">Clear</button>
	</div>
	<div class="col-4"></div>
	<div class="col-1"><button id="users" ng-click="exportUsers();" class="btn btn-success">Export Excel</button></div>
	<div class="col-1"><button id="users" ng-click="exportPdfUsers();" class="btn btn-success">Export Pdf</button></div>
</div>

	<form class="mt-2 mb-2">
		<input type="text" class="form-control" placeholder="Search by name" ng-model="kwords" ng-change="findByNameDto(kwords)">
	</form>
	<table class="table table-hover table-bordered mt-2">
		<thead class="thead-dark">
			<tr class="text-center">
				<th scope="col" class="text-warning font-weight-bold" style="font-size:20px" >Image</th>
				<th scope="col">
					<a class="text-warning font-weight-bold" style="font-size:20px" href="" ng-click="sortByCategoryName('username')">Username</a>
				</th>
				<th scope="col">
					<a class="text-warning font-weight-bold" style="font-size:20px">Fullname</a>
				</th>
				<th scope="col">
					<a class="text-warning font-weight-bold" href="" style="font-size:20px" ng-click="sortByCategoryName('orders')">Total Orders</a>
				</th>
				<th scope="col">
					<a class="text-warning font-weight-bold" href="" style="font-size:20px" ng-click="sortByCategoryName('amount')">Total Amount</a>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr  class="text-center" ng-repeat="item in userPager.items | orderBy:sortType | filter:searchName">
				<td style="width: 300px;border: 2px solid lightblue;">
					<img ng-src="/upload/UserImages/{{item.image}}" alt="" style="width: 120px; height: 120px" ng-click="detailUser(item.id)"/>
				</td>
				<td style="width: 200px;font-size: 20px;border: 2px solid lightblue;" ng-click="detailUser(item.id)">{{item.username}}</td>
				<td style="width: 400px;font-size: 20px;border: 2px solid lightblue;" ng-click="detailUser(item.id)">{{item.fullname}}</td>
				<td style="width: 200px;font-size: 20px;border: 2px solid lightblue;">{{item.orders}}</td>
				<td style="width: 300px;font-size: 20px;border: 2px solid lightblue;">${{item.amount | number:0:0}}</td>
			</tr>
		</tbody>
	</table>
	<div class="mt-2">
		<div class="text-center mt-2">
			<button ng-click="userPager.first()" class="btn btn-secondary">FIRST</button>
			<button ng-click="userPager.pre()" class="btn btn-secondary">PREV</button>
			<button class="btn btn-success">{{userPager.page + 1}} of {{userPager.count}}</button>
			<button ng-click="userPager.next()" class="btn btn-secondary">NEXT</button>
			<button ng-click="userPager.last()" class="btn btn-secondary">LAST</button>
		</div>
	</div>
	
	
	<!-- Modal -->

	
	
	
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="padding-top: 200px;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
	<div>
	  <canvas id="myChartUser"></canvas>
	</div>
      </div>
      
    </div>
  </div>
</div>
