<div xmlns:th="http://www.thymeleaf.org">
	<!-- Brand zone area -->
	<div class="brand-zone-area">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-xl-9 hometab">
					<div class="section-title">
						<h3>Brand Zone</h3>
					</div>
					<div class="brand-zone-tab-area">
						<div class="brand-tab-menu">
							<div class="nav">
								<ul>
									<li class="bz">
										<a class="active" data-toggle="tab" href="#brand_zone_1">
											<p class="mt-5">Rolex</p>
										</a>
									</li>
									<li class="bz">
										<a data-toggle="tab" href="#brand_zone_2">
											<p class="mt-5">G-Shock</p>
										</a>
									</li>
									<li class="bz">
										<a data-toggle="tab" href="#brand_zone_3">
											<p class="mt-5">Bulova</p>
										</a>
									</li>
									<li class="bz">
										<a data-toggle="tab" href="#brand_zone_4">
											<p class="mt-5">Casio</p>
										</a>
									</li>
									<li class="bz">
										<a data-toggle="tab" href="#brand_zone_5">
											<p class="mt-5">Cityzen</p>
										</a>
									</li>
									<li class="bz">
										<a data-toggle="tab" href="#brand_zone_6">
											<p class="mt-5">Pulsar</p>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="brand-tab-content">
							<div class="tab-content">
								<div class="tab-pane fade show active" id="brand_zone_1">
									<a href="#">
										<img src="/assets/images/GBanner/brand-zone1.jpg" alt="">
									</a>
								</div>
								<div class="tab-pane fade" id="brand_zone_2">
									<a href="#">
										<img src="/assets/images/GBanner/brand-zone1.jpg" alt="">
									</a>
								</div>
								<div class="tab-pane fade" id="brand_zone_3">
									<a href="#">
										<img src="/assets/images/GBanner/brand-zone1.jpg" alt="">
									</a>
								</div>
								<div class="tab-pane fade" id="brand_zone_4">
									<a href="#">
										<img src="/assets/images/GBanner/brand-zone1.jpg" alt="">
									</a>
								</div>
								<div class="tab-pane fade" id="brand_zone_5">
									<a href="#">
										<img src="/assets/images/GBanner/brand-zone1.jpg" alt="">
									</a>
								</div>
								<div class="tab-pane fade" id="brand_zone_6">
									<a href="#">
										<img src="/assets/images/GBanner/brand-zone1.jpg" alt="">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-12 col-xl-3 hometestimonial">
					<div class="section-title">
						<h3>Testimonials</h3>
					</div>
					<div class="testimonial-sidebar carosel-next-prive owl-carousel">
						<!-- Testimonial area -->
						<div class="testimonial-area">
							<img src="/assets/images/testimonials/testimonial3-120x120.jpg" alt="testimonial">
							<blockquote class="testimonials-text">
								<p>RoadThemes support and response has been amazing, helping me with several issues I came across and got them solved almost the same day. A pleasure to work with them!</p>
							</blockquote>
							<span>Katherine Sullivan</span>
						</div>
						<!-- Testimonial area end -->
						<!-- Testimonial area -->
						<div class="testimonial-area">
							<img src="/assets/images/testimonials/testimonial5-120x120.jpg" alt="testimonial">
							<blockquote class="testimonials-text">
								<p>RoadThemes support and response has been amazing, helping me with several issues I came across and got them solved almost the same day. A pleasure to work with them!</p>
							</blockquote>
							<span>Jenifer Brown</span>
						</div>
						<!-- Testimonial area end -->
						<!-- Testimonial area -->
						<div class="testimonial-area">
							<img src="/assets/images/testimonials/testimonial6-120x120.jpg" alt="testimonial">
							<blockquote class="testimonials-text">
								<p>RoadThemes support and response has been amazing, helping me with several issues I came across and got them solved almost the same day. A pleasure to work with them!</p>
							</blockquote>
							<span>Kathy Young</span>
						</div>
						<!-- Testimonial area end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Brand zone area end -->
</div>