<div xmlns:th="http://www.thymeleaf.org">
            <!-- home banner four -->
            <div class="home-banner-four">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5 banner-four-one">
                            <a href="shop.html"><img src="/assets/images/banner/ehome1-banner4-1.jpg" alt=""></a>
                        </div>
                        <div class="col-sm-7 banner-four-two">
                            <div class="top-banner">
                                <a href="shop.html"><img src="/assets/images/banner/home1-banner4-2.jpg" alt=""></a>
                            </div>
                            <div class="bottom-banner">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="shop.html"><img src="/assets/images/banner/home1-banner4-3.jpg" alt=""></a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a href="shop.html"><img src="/assets/images/banner/home1-banner4-4.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- home banner four end -->
</div>