<div xmlns:th="http://www.thymeleaf.org">
	<!-- product carosel area -->
	<div class="product-carosel-area">
		<div class="container">
			<div class="row">
				<!-- Product column -->
				<div class="col-md-6 col-xl-3">
					<div class="section-title">
						<h3>Rolex</h3>
					</div>
					<div class="mini-product carosel-next-prive  owl-carousel">
						<div class="mini-product-listview">
							<!-- single product -->
							<div class="single-product-area" th:each="p:${lstRolex}">
								<div class="product-wrapper listview">
									<div class="list-col4">
										<div class="product-image">
											<a href="">
												<img th:src="@{|/upload/ProductImages/${p.productImage}|}" style="width: 370px; height: 150px;" alt="">
											</a>
											<div class="quickviewbtn">
												<a href="#" data-toggle="modal" data-target="#product_modal" data-original-title="Quick View">
													<i class="ion-eye"></i>
												</a>
											</div>
										</div>
									</div>
									<div class="list-col8">
										<div class="product-info">
											<h2>
												<a th:href="@{|/product/${p.productId}|}">[[${p.productName}]]</a>
											</h2>
											<th:block th:if="${p.productDiscount == null}">
												<span class="price">$ [[${p.productPrice}]] </span>
											</th:block>
											<th:block th:if="${p.productDiscount != null}">		
												<span class="price"><del>$ [[${p.productPrice}]]</del> $ [[${p.productPrice - (p.productPrice * p.productDiscount / 100)}]] </span>
											</th:block>
											<div class="product-rattings">
												<th:block th:if="${p.productEvaluation == 5}">
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
													</th:block>
													<th:block th:if="${p.productEvaluation == 4}">
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
													</th:block>
													<th:block th:if="${p.productEvaluation == 3}">
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
													</th:block>
													<th:block th:if="${p.productEvaluation == 2}">
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
													</th:block>
													<th:block th:if="${p.productEvaluation == 1}">
														<span>
															<i class="fa fa-star"></i>
														</span>
													</th:block>
													<th:block th:if="${p.productEvaluation == null}">

													</th:block>
											</div>
										</div>
										<div class="add-to-cart">
											<a href="cart.html">Add to cart</a>
										</div>
									</div>
								</div>
							</div>
							<!-- single product end -->
						</div>
					</div>
				</div>
				<!-- Product column end -->
				<!-- Product column -->
				<div class="col-md-6 col-xl-3">
					<div class="section-title">
						<h3>Casio</h3>
					</div>
					<div class="mini-product carosel-next-prive owl-carousel">
						<div class="mini-product-listview">
							<!-- single product -->
							<div class="single-product-area" th:each="p:${lstCasio}">
								<div class="product-wrapper listview">
									<div class="list-col4">
										<div class="product-image">
											<a href="">
												<img th:src="@{|/upload/ProductImages/${p.productImage}|}" style="width: 370px; height: 150px;" alt="">
											</a>
											<div class="quickviewbtn">
												<a href="#" data-toggle="modal" data-target="#product_modal" data-original-title="Quick View">
													<i class="ion-eye"></i>
												</a>
											</div>
										</div>
									</div>
									<div class="list-col8">
										<div class="product-info">
											<h2>
												<a th:href="@{|/product/${p.productId}|}">[[${p.productName}]]</a>
											</h2>
											<th:block th:if="${p.productDiscount == null}">
												<span class="price">$ [[${p.productPrice}]] </span>
											</th:block>
											<th:block th:if="${p.productDiscount != null}">		
												<span class="price"><del>$ [[${p.productPrice}]]</del> $ [[${p.productPrice - (p.productPrice * p.productDiscount / 100)}]] </span>
											</th:block>
											<div class="product-rattings">
												<th:block th:if="${p.productEvaluation == 5}">
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
													</th:block>
													<th:block th:if="${p.productEvaluation == 4}">
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
													</th:block>
													<th:block th:if="${p.productEvaluation == 3}">
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
													</th:block>
													<th:block th:if="${p.productEvaluation == 2}">
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
													</th:block>
													<th:block th:if="${p.productEvaluation == 1}">
														<span>
															<i class="fa fa-star"></i>
														</span>
													</th:block>
													<th:block th:if="${p.productEvaluation == null}">

													</th:block>
											</div>
										</div>
										<div class="add-to-cart">
											<a href="cart.html">Add to cart</a>
										</div>
									</div>
								</div>
							</div>
							<!-- single product end -->
						</div>					
					</div>
				</div>
				<!-- Product column end -->
				<!-- Product column -->
				<div class="col-md-6 col-xl-3">
					<div class="section-title">
						<h3>G-Shock </h3>
					</div>
					<div class="mini-product carosel-next-prive owl-carousel">
						<div class="mini-product-listview">
							<!-- single product -->
							<div class="single-product-area" th:each="p:${lstGShock}">
								<div class="product-wrapper listview">
									<div class="list-col4">
										<div class="product-image">
											<a href="">
												<img th:src="@{|/upload/ProductImages/${p.productImage}|}" style="width: 370px; height: 150px;" alt="">
											</a>
											<div class="quickviewbtn">
												<a href="#" data-toggle="modal" data-target="#product_modal" data-original-title="Quick View">
													<i class="ion-eye"></i>
												</a>
											</div>
										</div>
									</div>
									<div class="list-col8">
										<div class="product-info">
											<h2>
												<a th:href="@{|/product/${p.productId}|}">[[${p.productName}]]</a>
											</h2>
											<th:block th:if="${p.productDiscount == null}">
												<span class="price">$ [[${p.productPrice}]] </span>
											</th:block>
											<th:block th:if="${p.productDiscount != null}">		
												<span class="price"><del>$ [[${p.productPrice}]]</del> $ [[${p.productPrice - (p.productPrice * p.productDiscount / 100)}]] </span>
											</th:block>
											<div class="product-rattings">
												<th:block th:if="${p.productEvaluation == 5}">
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
													</th:block>
													<th:block th:if="${p.productEvaluation == 4}">
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
													</th:block>
													<th:block th:if="${p.productEvaluation == 3}">
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
													</th:block>
													<th:block th:if="${p.productEvaluation == 2}">
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
													</th:block>
													<th:block th:if="${p.productEvaluation == 1}">
														<span>
															<i class="fa fa-star"></i>
														</span>
													</th:block>
													<th:block th:if="${p.productEvaluation == null}">

													</th:block>
											</div>
										</div>
										<div class="add-to-cart">
											<a href="cart.html">Add to cart</a>
										</div>
									</div>
								</div>
							</div>
							<!-- single product end -->
						</div>
					</div>
				</div>
				<!-- Product column end -->
				<!-- Product column -->
				<div class="col-md-6 col-xl-3">
					<div class="section-title">
						<h3>Seiko</h3>
					</div>
					<div class="mini-product carosel-next-prive owl-carousel">
						<div class="mini-product-listview">
							<!-- single product -->
							<div class="single-product-area" th:each="p:${lstSeiko}">
								<div class="product-wrapper listview">
									<div class="list-col4">
										<div class="product-image">
											<a href="">
												<img th:src="@{|/upload/ProductImages/${p.productImage}|}" style="width: 370px; height: 150px;" alt="">
											</a>
											<div class="quickviewbtn">
												<a href="#" data-toggle="modal" data-target="#product_modal" data-original-title="Quick View">
													<i class="ion-eye"></i>
												</a>
											</div>
										</div>
									</div>
									<div class="list-col8">
										<div class="product-info">
											<h2>
												<a th:href="@{|/product/${p.productId}|}">[[${p.productName}]]</a>
											</h2>
											<th:block th:if="${p.productDiscount == null}">
												<span class="price">$ [[${p.productPrice}]] </span>
											</th:block>
											<th:block th:if="${p.productDiscount != null}">		
												<span class="price"><del>$ [[${p.productPrice}]]</del> $ [[${p.productPrice - (p.productPrice * p.productDiscount / 100)}]] </span>
											</th:block>
											<div class="product-rattings">
												<th:block th:if="${p.productEvaluation == 5}">
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
													</th:block>
													<th:block th:if="${p.productEvaluation == 4}">
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
													</th:block>
													<th:block th:if="${p.productEvaluation == 3}">
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
													</th:block>
													<th:block th:if="${p.productEvaluation == 2}">
														<span>
															<i class="fa fa-star"></i>
														</span>
														<span>
															<i class="fa fa-star"></i>
														</span>
													</th:block>
													<th:block th:if="${p.productEvaluation == 1}">
														<span>
															<i class="fa fa-star"></i>
														</span>
													</th:block>
													<th:block th:if="${p.productEvaluation == null}">

													</th:block>
											</div>
										</div>
										<div class="add-to-cart">
											<a href="cart.html">Add to cart</a>
										</div>
									</div>
								</div>
							</div>
							<!-- single product end -->
						</div>

					</div>
				</div>
				<!-- Product column end -->
			</div>
		</div>
	</div>
	<!-- product carosel area end -->
</div>