<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="dynamic(main)">
<!-- th:replace="~{/layout/index/layout.html :: dynamic(~{::main})}" -->
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Bege || Home</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="/assets/images/icons/icon_logo.png">
<!-- Place favicon.ico in the root directory -->

<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/css/ionicons.min.css">
<link rel="stylesheet" href="/assets/css/css-plugins-call.css">
<link rel="stylesheet" href="/assets/css/bundle.css">
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/responsive.css">
<link rel="stylesheet" href="/assets/css/colors.css">
<link rel="stylesheet" href="/assets/css/lobby.css">
<link rel="stylesheet" href="/assets/css/room.css">

<!-- MAGIC ZOOM -->
<link rel="stylesheet" href="/assets/zoommagic/magiczoomplus.css">
<!--
<link rel="icon" href="/assets/img/Fevicon.png" type="image/png">
	-->
<!-- Bootstrap CSS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- AXIOS -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- font-awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
<style>
#scrollable-dropdown-menu .tt-dropdown-menu {
	max-height: 150px;
	overflow-y: auto;
}

.backgroundGrey {
	opacity: 0.4;
	filter: alpha(opacity = 40)
}
</style>
</head>
<body ng-app="shopping-cart-app" ng-controller="shopping-cart-ctrl">
	<div class="wrapper home-one " th:classappend="${isHomePage} ? '' : 'single-product-page'">
		<!--================ Start Header Menu Area =================-->
		<div th:replace="/layout/_header.html"></div>
		<!--================ End Header Menu Area =================-->

		<!-- START MAIN -->
		<div th:replace="${main}"></div>
		<!-- END MAIN -->

		<!--================ Start footer Area  =================-->
		<div th:replace="/layout/_footer.html"></div>
		<!--================ End footer Area  =================-->

	</div>

	<script>
		let __protocol = document.location.protocol;
		let __baseUrl = __protocol + '//livechat.fpt.ai/v35/src';

		let prefixNameLiveChat = 'GodWatch';
		let objPreDefineLiveChat = {
			appCode : 'cdce5e4c94ba41f24cd89c8368a00ef4',
			themes : '',
			appName : prefixNameLiveChat ? prefixNameLiveChat : 'Live support',
			thumb : '',
			icon_bot : ''
		}, appCodeHash = window.location.hash.substr(1);
		if (appCodeHash.length == 32) {
			objPreDefineLiveChat.appCode = appCodeHash;
		}

		let fpt_ai_livechat_script = document.createElement('script');
		fpt_ai_livechat_script.id = 'fpt_ai_livechat_script';
		fpt_ai_livechat_script.src = __baseUrl + '/static/fptai-livechat.js';
		document.body.appendChild(fpt_ai_livechat_script);

		let fpt_ai_livechat_stylesheet = document.createElement('link');
		fpt_ai_livechat_stylesheet.id = 'fpt_ai_livechat_script';
		fpt_ai_livechat_stylesheet.rel = 'stylesheet';
		fpt_ai_livechat_stylesheet.href = __baseUrl
				+ '/static/fptai-livechat.css';
		document.body.appendChild(fpt_ai_livechat_stylesheet);

		fpt_ai_livechat_script.onload = function() {
			fpt_ai_render_chatbox(objPreDefineLiveChat, __baseUrl,
					'livechat.fpt.ai:443');
		}
	</script>

	<!-- CALL JS -->
	<script src="/Shop/cart-js/cart.js"></script>

	<!-- jQuery CDN -->
	<script src="/assets/js/jquery-1.12.4.min.js"></script>

	<!-- jQuery Local -->

	<!-- Popper min js -->
	<script src="/assets/js/popper.min.js"></script>
	<!-- Bootstrap min js  -->
	<script src="/assets/js/bootstrap.min.js"></script>
	<!-- nivo slider pack js  -->
	<script src="/assets/js/jquery.nivo.slider.pack.js"></script>
	<!-- All plugins here -->
	<script src="/assets/js/plugins.js"></script>
	<!-- Main js  -->
	<script src="/assets/js/main.js"></script>

	<!-- ZOOM MAGIC -->
	<script src="/assets/zoommagic/magiczoomplus.js"></script>

	<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
	<script>
		window.ga = function() {
			ga.q.push(arguments)
		};
		ga.q = [];
		ga.l = +new Date;
		ga('create', 'UA-XXXXX-Y', 'auto');
		ga('send', 'pageview')
	</script>
	<script src="https://www.google-analytics.com/analytics.js" async defer></script>
	<script src="/assets/js/order-cart-view-ctrl.js"></script>
	<script src="/assets/js/wish-list.js"></script>
</body>

</html>