<div xmlns:th="http://www.thymeleaf.org">

	<div class="col-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<form class="forms-sample row" name="frm" enctype="multipart/form-data">
					<!-- image -->
					<div class="col-4 text-center">
						<div>
							<h3>PRODUCT'S IMAGE</h3>
						</div>
						<label for="inputGroupFile01" ng-if="formProductPhoto.imageId != 'a'">
							<img ng-src="{{'/upload/ProductImages/' + formProductPhoto.imageId}}" id="myID" style="width: 300px; height: 300px" alt="No Image" />
						</label>
						<label for="inputGroupFile01" ng-if="formProductPhoto.imageId == 'a'">
							<img src="/upload/noImage.jpg" id="myID1" style="width: 300px; height: 300px" alt="No Image" />
						</label>
						<div class="form-group">
							<!-- <label>File upload</label> -->
							<input type="file" class="file-upload-default" />
							<div class="form-group col-xs-12">

								<!-- chạy ok -->
								<!-- <label class="custom-file-upload" ng-if="formProductPhoto.imageId == 'a'">
									<input onchange="angular.element(this).scope().onFileSelected(this.files,event)" id="image" type="file" name="photo" class="custom-file-input1" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
									Upload Image
								</label> -->
								<!-- kết thúc chạy ok -->
								<!-- START TEST MULTI -->
								<div class="container">
									<label class="custom-file-upload" ng-show="isEdit == false">
										<input multiple onchange="angular.element(this).scope().upload1(this.files,event)" accept="image/*" type="file" name="photo" class="custom-file-input1" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
										Upload Image
									</label>
									<label class="custom-file-upload" ng-show="isEdit == true">
										More Images
										<input type="file" class="btn btn-primary" id="uf" accept="image/*" multiple onchange="angular.element(this).scope().uploadImage(this.files)">
									</label>
									<hr>
									<label ng-show="isEdit == false" ng-repeat="filename in filenames" title="Double click to delete">
										<img ng-src="{{url(filename)}}" ng-dblclick="delete1(filename)" class="mb-3 mr-2" style="width: 80px; height: 80px" alt="">
									</label>
									<label ng-show="isEdit == true" ng-repeat="filename in filenames" title="Double click to delete" class="ml-1">
										<img ng-src="{{'/upload/ProductImages/' + filename}}" ng-dblclick="deleteImage(filename)" class="mb-3 mr-2" style="width: 80px; height: 80px" alt="">
									</label>
								</div>
								<!-- START TEST MULTI -->
							</div>
						</div>

						<!-- ---------------------TEST-------------------- -->
						<!--
						<div>
							<div class="container" ng-if="formProductPhoto.imageId != 'a'">
								<label for="uf" class="btn btn-5" id="formatButton">
									More Images
									<input type="file" class="btn btn primary" id="uf" accept="image/*" multiple onchange="angular.element(this).scope().uploadImage(this.files)">
								</label>
								<hr>
								<label ng-repeat="filename in filenames" title="Double click to delete" class="ml-1">
									<img ng-src="{{'/upload/ProductImages/' + filename}}" ng-dblclick="deleteImage(filename)" class="mb-3 mr-2" style="width: 80px; height: 80px" alt="">
								</label>
							</div>
						</div>
						  -->
						<!-- ---------------------TEST-------------------- -->
					</div>
					<!-- input -->
					<div class="col-8">
						<div class="row">
							<!-- 1 -->
							<div class="col-6">
								<div class="form-group">
									<label for="exampleInputName1">Name</label>
									<input type="text" class="form-control" id="name" ng-model="formProduct.productName" placeholder="Name" />
								</div>
								<div class="form-group">
									<label for="exampleInputEmail3">Price</label>
									<input type="text" class="form-control" id="price" ng-model="formProduct.productPrice" placeholder="price" />
								</div>
								<div class="form-group">
									<label for="exampleInputEmail3">Glass size</label>
									<input type="text" class="form-control" id="price" ng-model="formWatch.watchGlassSize" placeholder="Glass size" />
								</div>
								<div class="form-group">
									<label>ATM</label>
									<input type="text" class="form-control" ng-model="formWatch.watchATM" placeholder="ATM" />
								</div>
								<div class="form-group">
									<label>Glass color</label>
									<input type="text" class="form-control" ng-model="formWatch.watchGlassColor" placeholder="Glass color" />
								</div>
								<div class="form-group">
									<label>Case color</label>
									<input type="text" class="form-control" ng-model="formWatch.watchCaseColor" placeholder="Case color" />
								</div>
								<div class="form-group">
									<label>Warranty</label>
									<input type="text" class="form-control" ng-model="formProduct.productWarranty" placeholder="Warranty" />
								</div>
								<div class="form-group">
									<label>Quantity</label>
									<input type="text" class="form-control" ng-model="formProduct.productQuantity" placeholder="Quantity" />
								</div>
								<div class="form-group">
									<div>Create Date</div>
									<input ng-model="formProduct.productCreateDate" type="date" class="form-control" />
								</div>
							</div>
							<!-- 2 -->
							<div class="col-6">
								<div class="form-group">
									<label>Category</label>
									<select ng-model="formProduct.categoryId" class="form-control">
										<option ng-repeat="c in lstCategory" ng-value="{{c.id}}" ng-selected="formProduct.categoryId == c.id">{{c.name}}</option>
									</select>
								</div>
								<div class="form-group">
									<label>Brand</label>
									<select class="form-control" ng-model="formProduct.brandId">
										<option ng-repeat="b in lstBrands" value="{{b.id}}" ng-selected="formProduct.brandId == b.id">{{b.name}}</option>
									</select>
								</div>
								<div class="form-group">
									<label>Bracelet Materials</label>
									<select class="form-control" ng-model="formWatch.braceletMaterialId">
										<option ng-repeat="bm in lstBraceletMaterial" ng-value="{{bm.id}}" ng-selected="formWatch.braceletMaterialId == bm.id">{{bm.name}}</option>
									</select>
								</div>
								<div class="form-group">
									<label>Machine Inside</label>
									<select class="form-control" ng-model="formWatch.machineInsideId">
										<option ng-repeat="mi in lstMachineInside" ng-value="{{mi.id}}" ng-selected="formWatch.machineInsideId == mi.id">{{mi.name}}</option>
									</select>
								</div>
								<div class="form-group">
									<label>Glass Material</label>
									<select class="form-control" ng-model="formWatch.glassMaterialId">
										<option ng-repeat="g in lstGlassMaterial" ng-value="{{g.id}}" ng-selected="formWatch.glassMaterialId == g.id">{{g.name}}</option>
									</select>
								</div>
								<div class="form-group">
									<label>Gender</label>
									<select class="form-control" ng-model="formWatch.watchGender">
										<option ng-value="0" ng-selected="formWatch.watchGender == 0">Female</option>
										<option ng-value="1" ng-selected="formWatch.watchGender == 1">Male</option>
										<option ng-value="2" ng-selected="formWatch.watchGender == 2">Couple</option>
										<option ng-value="3" ng-selected="formWatch.watchGender == 3">Other</option>
									</select>
								</div>

								<div class="form-group">
									<label>Made In</label>
									<input type="text" class="form-control" ng-model="formProduct.productMadeIn" placeholder="Made in" />
								</div>
								<div class="form-group">
									<label>Detail</label>
									<textarea class="form-control" rows="4" ng-model="formProduct.productDetail"></textarea>
								</div>
								<div class="form-group">
									<div class="mb-3">Available</div>
									<label for="radio-inline">
										<input ng-model="formProduct.productIsDeteled" type="radio" ng-value="false" name="available" />
										Yes
									</label>
									<label for="radio-inline" class="ml-3">
										<input ng-model="formProduct.productIsDeteled" type="radio" ng-value="true" name="available" />
										No
									</label>
								</div>
							</div>
						</div>

						<button ng-click="create(); " ng-show="showInsert == true" class="btn btn-primary mr-2">Insert</button>
						<button ng-click="update()" ng-show="showUpdate == true" class="btn btn-warning mr-2">Update</button>
						<button ng-click="deleteProduct(formProduct)" class="btn btn-danger mr-2">Remove</button>
						<button ng-click="reset()" class="btn btn-info">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>