<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index.html :: dynamic(~{::main})}">
<body>
	<main>
		<div class="container">
			<div class="myaccount-content" th:if="${isVerificationEmail}=='true'">
										<h3>Set Password</h3>
										<i class="text-danger">[[${mchangePassword}]]</i>
										<div>
											<form th:action="@{/changePasswordForgot}" method="post" class="form-group">
												<div class="input-group form-group">
													<input type="password" placeholder="newPassword"
														name="newPassword" id="ipnNewPassword"
														class="form-control" required />
													<div class="input-group-append">
														<button class="btn btn-outline-secondary" type="button"
															id="btnNewPassword">
															<span class="fas fa-eye"></span>
														</button>
													</div>
												</div>

												<div class="input-group form-group">
													<input type="password" placeholder="confirmPassword"
														name="confirmPassword" id="ipnConfirmPassword"
														class="form-control" required />
													<div class="input-group-append">
														<button class="btn btn-outline-secondary" type="button"
															id="btnConfirmPassword">
															<span class="fas fa-eye"></span>
														</button>
													</div>
												</div>

												<button class="btn w-100 mt-5" type="submit">Change</button>
												<script>
										
												const ipnNewPassword = document.querySelector('#ipnNewPassword')
												const btnNewPassword = document.querySelector('#btnNewPassword')
												const ipnConfirmPassword = document.querySelector('#ipnConfirmPassword')
												const btnConfirmPassword = document.querySelector('#btnConfirmPassword')
											
											
												
												btnNewPassword.addEventListener('click',function() {				
												const currentTypeNew = ipnNewPassword.getAttribute('type')				
												ipnNewPassword.setAttribute('type',currentTypeNew === 'password' ? 'text': 'password')})
												
												btnConfirmPassword.addEventListener('click',function() {				
												const currentTypeConfirm = ipnConfirmPassword.getAttribute('type')				
												ipnConfirmPassword.setAttribute('type',currentTypeConfirm === 'password' ? 'text': 'password')})
												</script>
											</form>
										</div>
									</div>
		</div>
	</main>
</body>