<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index.html :: dynamic(~{::main})}">
<body>
	<main>
		<!-- Breadcrumbs End -->
		<!-- Page title -->
		<div class="entry-header">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h1 class="entry-title">Reset  Password</h1>
					</div>
				</div>
			</div>
		</div>
		<!-- Page title end -->
		<!-- cart page content -->
		<div class="forget-page-area">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<form class="password-forgot clearfix" th:action="@{/forgotPassword-send}" method="post">
							<fieldset>
								<legend>Find your account : <i class="text-danger"> [[${message}]]</i></legend>
										<div class="form-group d-md-flex">
									<label class="control-label col-md-2" for="username">
										<span class="require">*</span>
										Username
									</label>
									<div class="col-md-10">
										<input type="text" class="form-control" id="username" name="username" placeholder="Enter you username address here...">
									</div>
								</div>
								<div class="form-group d-md-flex">
									<label class="control-label col-md-2" for="email">
										<span class="require">*</span>
										Enter you email address here...
									</label>
									<div class="col-md-10">
										<input type="email" class="form-control" id="email"  name="email" placeholder="Enter you email address here...">
									</div>
								</div>
							</fieldset>							
							<div class="buttons newsletter-input">
								<div class="float-left float-sm-left">
									<a class="customer-btn mr-20" href="/account/login/form">Back</a>
								</div>
								<div class="float-right float-sm-right">
									<input type="submit" value="Continue" class="return-customer-btn">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- cart page content end -->
	</main>
</body>
</html>