<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index.html :: dynamic(~{::main})}">
<body ng-app="cartView-app">
	<main>
		<!-- Breadcrumbs -->
		<div class="breadcrumbs-container">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<nav class="woocommerce-breadcrumb">
							<a href="index.html">Home</a> <span class="separator">/</span>
							Dashboard
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- Breadcrumbs End -->
		<!-- Page title -->
		<div class="entry-header">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h1 class="entry-title">My Account</h1>
					</div>
				</div>
			</div>
		</div>
		<!-- Page title end -->

		<!-- My Account page content Start -->
		<div id="myaccount-page-content">
			<div class="container">
				<div class="account-text-wrapper">
					<div class="row">
						<div class="col-md-3">
							<div class="myaccount-tab-menu nav" role="tablist">
								<a href="#orders" class="active" data-toggle="tab"> <i
									class="fa fa-cart-arrow-down"></i> Orders
								</a> <a href="#account-info" data-toggle="tab"> <i
									class="fa fa-user"></i> Account Details
								</a> <a th:href="@{/account/logoff}"> <i class="fa fa-sign-out"></i>
									Logout
								</a>
							</div>
						</div>
						<!-- My Account Tab Menu End -->

						<!-- My Account Tab Content Start -->
						<div class="col-md-9 mt-15 mt-lg-0"
							ng-controller="order-cart-view-ctrl">
							<div class="tab-content" id="myaccountContent">
								<!-- Single Tab Content Start -->
								<div class="tab-pane fade show active" id="orders"
									role="tabpanel">
									<div class="myaccount-content">
										<div class="myaccount-table table-responsive text-center">
											<table class="table table-bordered">
												<thead class="thead-light">
													<tr>
														<th>Order</th>
														<th>Date</th>
														<th>Address</th>
														<th>Status</th>
														<th>Action</th>
													</tr>
												</thead>

												<tbody>
													<tr ng-repeat="order in pager.orders">
														<td>{{order.orderId}}</td>
														<td>{{order.createDate| date : "dd-MM-yyyy"}}</td>
														<td>{{order.address}}</td>
														<td>{{order.statusName}}</td>

														<td>
															<button class="btn btn-info btn-lg"
																ng-click="edit(order.orderId)" data-toggle="modal"
																data-target="#myModal">View</button>
															<div class="modal fade" id="myModal" role="dialog">
																<div class="modal-dialog modal-xl modal-dialog-centered">
																	
																	<!-- Modal content-->
																	<div class="modal-content">
																	<button type="button" class="btn btn-default float-right"
																	data-dismiss="modal">#{{order.orderId}}</button>
																		<div class="modal-header">

																			<h4 class="modal-title text-center">Order Detail</h4>
																		</div>
																		<div class="modal-body">

																			<div class="table-content table-responsive mb-50">
																				<table>
																					<thead>
																						<tr>
																							<th class="product-thumbnail"
																								style="font-size: 20px; font-weight: bold">Image</th>
																							<th class="product-name"
																								style="font-size: 20px; font-weight: bold">Product</th>
																							<th class="product-price"
																								style="font-size: 20px; font-weight: bold">Price</th>
																							<th class="product-quantity"
																								style="font-size: 20px; font-weight: bold">Quantity</th>
																							<th class="product-subtotal"
																								style="font-size: 20px; font-weight: bold">Total
																								Price</th>

																						</tr>
																					</thead>
																					<tbody>
																						<tr ng-repeat="product in products">
																							<td class="product-thumbnail"><a href="#">
																									<img
																									src="/upload/ProductImages/{{product.productPhoto}}"
																									alt="cart-image">
																							</a></td>
																							<td class="product-name"><a
																								style="font-size: 20px" class="font-weight-bold">{{product.productName}}</a>
																							</td>
																							<td class="product-price"><span
																								class="amount" style="font-size: 20px">${{product.orderPrice}}</span>
																							</td>

																							<td class="product-quantity"><input disabled
																								type="number" min="1" style="color: black;"
																								class="text-center font-weight-bold"
																								ng-value="{{product.orderQuantity}}"></td>
																							<td class="product-subtotal"
																								style="font-size: 20px">${{product.orderPrice*product.orderQuantity}}</td>

																						</tr>
																					</tbody>
																				</table>
																				<h1>Total: ${{total}}</h1>
																			</div>
																			<div class="row">
																				
																				<div class="col-12 w-100">
																					<div ng-if=" status == 'Pending'">
																						<button class="btn " ng-click="cancel()">Cancel
																							Order</button>
																					</div>
																					<div ng-if=" status != 'Pending'">
																						<button class="btn " ng-click="cancel()" disabled>Cancel
																							Order</button>
																					</div>
																				</div>
																			</div>



																		</div>
																		
																	</div>

																</div>
															</div> <!-- </div> -->
														</td>


													</tr>

												</tbody>
											</table>
											<div class="text-center mt-2">
												<button ng-click="pager.first()" class="btn btn-secondary">|<</button>
												<button ng-click="pager.pre()" class="btn btn-secondary"><<</button>
												<button class="btn btn-primary">{{pager.page + 1}}
													of {{pager.count}}</button>
												<button ng-click="pager.next()" class="btn btn-secondary">>></button>
												<button ng-click="pager.last()" class="btn btn-secondary">>|</button>
											</div>
										</div>
									</div>
								</div>
								<!-- Single Tab Content End -->

								<!-- Single Tab Content Start -->
								<div class="tab-pane fade" id="download" role="tabpanel">
									<div class="myaccount-content">
										<h3>Downloads</h3>

										<div class="myaccount-table table-responsive text-center">
											<table class="table table-bordered">
												<thead class="thead-light">
													<tr>
														<th>Product</th>
														<th>Date</th>
														<th>Expire</th>
														<th>Download</th>
													</tr>
												</thead>

												<tbody>
													<tr>
														<td>Haven - Free Real Estate PSD Template</td>
														<td>Aug 22, 2018</td>
														<td>Yes</td>
														<td><a href="#" class="btn">Download File</a></td>
													</tr>
													<tr>
														<td>HasTech - Profolio Business Template</td>
														<td>Sep 12, 2018</td>
														<td>Never</td>
														<td><a href="#" class="btn">Download File</a></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<!-- Single Tab Content End -->

								<!-- Single Tab Content Start -->
								<div class="tab-pane fade" id="payment-method" role="tabpanel">
									<div class="myaccount-content">
										<h3>Payment Method</h3>

										<p class="saved-message">You Can't Saved Your Payment
											Method yet.</p>
									</div>
								</div>


								<div class="tab-pane fade" id="account-info" role="tabpanel">
									<div class="myaccount-content">
										<h3>Account Details</h3>
										<div class="account-details-form checkout-form-list">
											<form th:action="@{/update/accountDetail}" method="post"
												th:object="${user}" enctype="multipart/form-data">
												<div class="col-4">

													<img id="myID" th:if="${isOAuth2} == false"
														th:src="@{|/upload/UserImages/${user.photo}|}" alt=""
														style="width: 350px; height: 350px" /> <img id="myID"
														th:if="${isOAuth2} == true"
														th:src="@{'https://' + ${user.photo}}" alt=""
														style="width: 150px; height: 150px" /> <img id="myID"
														th:if="${user.photo == null  }"
														th:src="@{|/upload/UserImages/guest-user.jpg|}" alt=""
														style="width: 350px; height: 350px" />

													<div class="form-group mt-3">
														<div class="input-group mt-3">
															<div class="input-group-prepend">
																<!-- 	<span class="input-group-text bg-primary text-light"
															id="inputGroupFileAddon01">Upload</span> -->
															</div>
															<div class="custom-file">
																<input type="file" name="photo"
																	onchange="onFileSelected(event)"
																	class="custom-file-input" id="inputGroupFile01"
																	aria-describedby="inputGroupFileAddon01"> <label
																	class="custom-file-label" id="nameFile"
																	for="inputGroupFile01"></label>
															</div>
														</div>
													</div>
												</div>


												<div class="row">
													<div class="col-lg-6">
														<div class="single-input-item">
															<label for="fullname" class="required">Fullname</label> <input
																type="text" id="fullname" name="fullname"
																placeholder="fullname" class=" form-control"
																th:value="*{fullname}" />
														</div>
													</div>

													<div class="col-lg-6">
														<div class="single-input-item">
															<label for="email" class="required">Email</label> <input
																type="email" id="email" name="email" placeholder="Email"
																class=" form-control" th:value="*{email}" />
														</div>
													</div>
													<div class="col-lg-6">
														<label for="gender" class="required">Gender</label> <select
															name="gender" id="gender" class="form-control">
															<option th:selected="*{gender==1}" th:value="1"
																class=" form-control">Male</option>
															<option th:selected="*{gender==0}" th:value="0"
																class=" form-control">Female</option>
														</select>
													</div>
													<div class="col-lg-6">
														<div class="single-input-item">
															<label for="dob" class="required">Date Of Birth</label> <input
																type="date" id="dob" class=" form-control"
																th:field="*{dob}" placeholder="Date Of Birth"
																th:value="*{dob}" name="dob" />
														</div>
													</div>
													<div class="col-lg-6">
														<label for="address">Address</label> <input type="text"
															name="address" placeholder="Enter your addresse"
															id="input-address" class="form-control"
															th:value="${user.address}">
													</div>
													<div class="col-lg-6">
														<label>Mobile</label> <input type="text" name="phone"
															placeholder="phone" id="input-phone" class="form-control"
															th:value="${user.phone}">
													</div>
												</div>




												<div class="single-input-item">
													<button class="btn" type="submit">Save Changes</button>
												</div>
												<script>
													function onFileSelected(
															event) {
														var selectedFile = event.target.files[0];
														var reader = new FileReader();
														var imgtag = document
																.getElementById("myID");
														imgtag.title = selectedFile.name;
														reader.onload = function(
																event) {
															imgtag.src = event.target.result;
														};
														reader
																.readAsDataURL(selectedFile);
													}
												</script>
											</form>
										</div>
									</div>
								</div>
								<!-- Single Tab Content End -->
							</div>
						</div>
						<!-- My Account Tab Content End -->
					</div>
				</div>
			</div>
		</div>
		<!-- My Account page content end -->

	</main>
</body>
</html>