<div xmlns:th="http://www.thymeleaf.org">
	<table class="table table-hover table-bordered mt-2">
		<thead class="thead-dark">
			<tr class="text-center">
				<th scope="col">Image</th>
				<th scope="col">
					<a class="font-weight-bold">Accessory's name</a>
				</th>
				<th scope="col">
					<a class="font-weight-bold">Product's name</a>
				</th>
				<th scope="col">
					<a class="font-weight-bold">Quanity</a>
				</th>
				<th scope="col">
					<a class="font-weight-bold">Price</a>
				</th>
				<th scope="col">Edit</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text-center" ng-repeat="outOfSoon in pageroutOfSoon.items | orderBy:sortType | filter:searchName" ng-click="edit(outOfSoon)">
				<td>
					<img ng-src="/upload/ProductImages/{{outOfSoon.imageId}}" alt="" style="width: 80px; height: 80px"/>
				</td>
				<td>{{outOfSoon.categoryName}}</td>
				<td>{{outOfSoon.productName}}</td>
				<td>{{outOfSoon.productQuantity}}</td>
				<td>{{outOfSoon.productPrice | number : 2}}</td>
				<td class="text-center">
					<button ng-click="edit(outOfSoon)" class="btn btn-warning">Edit</button>
				</td>
			</tr>
		</tbody>
	</table>
	<div>
		<div class="text-center">
			<button ng-click="pageroutOfSoon.first()" class="btn btn-secondary">|<</button>
			<button ng-click="pageroutOfSoon.pre()" class="btn btn-secondary"><<</button>
			<button class="btn btn-success">{{pageroutOfSoon.page + 1}} of {{pageroutOfSoon.count}}</button>
			<button ng-click="pageroutOfSoon.next()" class="btn btn-secondary">>></button>
			<button ng-click="pageroutOfSoon.last()" class="btn btn-secondary">>|</button>
		</div>
	</div>
</div>