<div xmlns:th="http://www.thymeleaf.org">
	<div class="row">
		<div class="col-7">
			<form>
				<div class="card">
					<div class="card-header"></div>
					<div class="card-body">
						<div class="row">
							<div class="col-4 text-center">
								<label for="inputGroupFile01" ng-if="hasImage != 'a'">
									<img ng-src="{{'/upload/UserImages/' + form.userPhoto}}" id="myID" style="width: 250px; height: 250px" alt="No Image" />
								</label>
								<label for="inputGroupFile01" ng-if="hasImage == 'a'">
									<img src="/upload/noImage.jpg" id="myID1" style="width: 250px; height: 250px" alt="No Image" />
								</label>
								<label class="custom-file-upload">
									<input onchange="angular.element(this).scope().onFileSelected(this.files,event)" id="image" type="file" name="photo" class="custom-file-input1" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
									Upload Image
								</label>
							</div>
							<div class="col-8 row">
								<input type="text" ng-model="form.userId" hidden/>
								<input type="text" ng-model="form.accountPassword" hidden/>
								<div class="col-6">
									<div class="form-group">
										<label for="">Username</label>
										<input type="text" class="form-control" ng-model="form.accountUsername" placeholder="Username" />
									</div>
									<div class="form-group">
										<label for="">Fullname</label>
										<input type="text" class="form-control" ng-model="form.userFullname" placeholder="Fullname" />
									</div>
									<div class="form-group">
										<label>Birth day</label>
										<input ng-model="form.userDob" readonly type="date" class="form-control" />
									</div>
								</div>
								<div class="col-6">
									<div class="form-group">
										<label for="">Password</label>
										<input type="password" class="form-control" ng-model="form.accountPassword" placeholder="Password" />
									</div>
									<div class="form-group">
										<label for="">Phone</label>
										<input type="text" class="form-control" ng-model="form.userPhone" placeholder="Phone number" />
									</div>
									<div class="form-group" style="margin-top: 28px">
										<label>Gender</label>
										<select class="form-control" ng-model="form.userGender">
											<option ng-value="0" ng-selected="form.userGender == 0">Female</option>
											<option ng-value="1" ng-selected="form.userGender == 1">Male</option>
											<option ng-value="2" ng-selected="form.userGender == 2">Other</option>
										</select>
									</div>
								</div>
								<div class="form-group col-12">
									<label for="">Email</label>
									<input type="text" class="form-control" ng-model="form.userEmail" placeholder="Email" />
								</div>
								<div class="form-group col-12">
									<label>Address</label>
									<textarea class="form-control" rows="4" ng-model="form.userAddress"></textarea>
								</div>
								<div class="col-6">
									<div class="form-group">
										<label>Role</label>
										<select class="form-control" ng-model="form.roleId">
											<option ng-repeat="r in lstRole" value="{{r.id}}" ng-selected="form.roleId == r.id">{{r.name}}</option>
										</select>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group col-12">
										<div class="mb-3">Available</div>
										<label for="radio-inline">
											<input ng-model="form.accountIsDeleted" type="radio" ng-value="false" name="isDeleted" ng-click="change(false)"/>
											Yes
										</label>
										<label for="radio-inline" class="ml-3">
											<input ng-model="form.accountIsDeleted" type="radio" ng-value="true" name="isDeleted" ng-click="change(true)"/>
											No
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card-footer">
						<div class="form-group">
							<button ng-click="create()" ng-show="isEdit == false" class="btn btn-primary mr-2">Insert</button>
							<button ng-click="update()" ng-show="isEdit == true" class="btn btn-warning mr-2">Update</button>
							<button ng-click="delete(form)" class="btn btn-danger mr-2">Remove</button>
							<button ng-click="reset()" class="btn btn-info">Cancel</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="col-5">
			<div class="card">
				<form>
					<input type="text" class="form-control" placeholder="Search by name" ng-model="searchByName" onchange="angular.element(this).scope().findByName()">
				</form>
				<div class="card-body p-0 mt-2">
					<table class="table table-bordered table-hover">
						<thead>
							<tr class="bg-info text-light">
								<th scope="col">#</th>
								<th scope="col">Username</th>
								<th scope="col">Fullname</th>
								<th scope="col">Role</th>
								<th scope="col">Status</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in pager.items" ng-click="edit(item)">
								<th scope="row">{{$index + 1}}</th>
								<td class="text-center">
									<span ng-show="{{item.roleName == 'Khách hàng'}}">{{item.accountUsername}}</span>
									<span ng-show="{{item.roleName != 'Khách hàng'}}" class="text-danger">{{item.accountUsername}}</span>
								</td>
								<td>
									<span ng-show="{{item.roleName == 'Khách hàng'}}">{{item.userFullname}}</span>
									<span ng-show="{{item.roleName != 'Khách hàng'}}" class="text-danger">{{item.userFullname}}</span>
								</td>
								<td class="text-center">
									<span ng-show="{{item.roleName == 'Khách hàng'}}">{{item.roleName}}</span>
									<span ng-show="{{item.roleName != 'Khách hàng'}}" class="text-danger">{{item.roleName}}</span>
								</td>
								<td class="text-center">{{item.accountIsDeleted ? 'NO' : 'YES'}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="card-footer">
					<div class="text-center">
						<button ng-click="pager.first()" class="btn btn-secondary">|<</button>
						<button ng-click="pager.pre()" class="btn btn-secondary"><<</button>
						<button class="btn btn-info">{{pager.page + 1}} of {{pager.count}}</button>
						<button ng-click="pager.next()" class="btn btn-secondary">>></button>
						<button ng-click="pager.last()" class="btn btn-secondary">>|</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>