<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index.html :: dynamic(~{::main})}">

<body>
	<main>
		<!-- Breadcrumbs -->
		<div class="breadcrumbs-container">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<nav class="woocommerce-breadcrumb">
							<a th:href="@{|/index|}">Home</a>
							<span class="separator">/</span>
							About
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- Breadcrumbs End -->
		<!-- Contact page content -->
		<div class="contact-page-area">
			<!-- contact page map -->
			<div class="contact-page-map">
				<!-- Google Map Start -->
				<div class="container-fluid">
					<div id="map">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15673.820904911476!2d106.6295448!3d10.8529391!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x11690ada8c36f9bc!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIFRo4buxYyBow6BuaCBGUFQgUG9seXRlY2huaWMgVFAuSENNIChDUzMp!5e0!3m2!1svi!2s!4v1652590504992!5m2!1svi!2s"
							width="1920" height="400" style="border: 0;" allowfullscreen="" loading="lazy"
							referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
				</div>
				<!-- Google Map End -->
			</div>
			<!-- contact page map -->
			<!-- contact form area -->
			<div class="contact-form-area">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
							<div class="contact-form-inner">
								<h2>Ask about our products and services
								</h2>
								<form action="mail.php" method="get">
									<div class="row">
										<div class="col">
											<input type="text" class="form-control" placeholder="First name*" required>
										</div>
										<div class="col">
											<input type="text" class="form-control" placeholder="Last name*" required>
										</div>
									</div>
									<div class="row">
										<div class="col">
											<input type="text" class="form-control" placeholder="Email*" required>
										</div>
										<div class="col">
											<input type="text" class="form-control" placeholder="Subject*" required>
										</div>
									</div>
									<div class="row">
										<div class="col">
											<textarea name="your-message" cols="40" rows="10"
												class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required"
												aria-required="true" aria-invalid="false" placeholder="Message *"
												required></textarea>
										</div>
									</div>
									<div class="contact-submit">
										<input type="submit" value="Send Email"
											class="wpcf7-form-control wpcf7-submit button">
									</div>
								</form>
							</div>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
							<div class="contact-address-area">
								<h2>CONTACT US</h2>
								<p>Whether you have any questions about our products, services, please take a look at
									our Frequently Asked Questions (FAQs)Frequently Asked Questions (FAQs) to read more
									about our frequently asked questions relating to our products or services to see if
									there's a quick answer to your queries. Moreover, please select the most appropriate
									contact channel for us to best serve you.</p>
								<ul>
									<li>
										<i class="fa fa-fax">&nbsp;</i>
										Address : Công viên phần mềm, Toà nhà Innovation lô 24, Quang Trung, Quận 12,
										Thành phố Hồ Chí Minh
									</li>
									<li>
										<i class="fa fa-phone">&nbsp;</i>
										GodEdoc@gmail.com
									</li>
									<li>
										<i class="fa fa-envelope-o"></i>
										&nbsp; 0(1234) 567 890
									</li>
								</ul>
								<h3>
									<strong>Working hours</strong>
								</h3>
								<p>
									<strong>Monday – Saturday</strong>: &nbsp;08AM – 22PM
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- contact form area end -->
		</div>
		<!-- Contact page content end -->
	</main>
</body>

</html>